@import "tailwindcss";

:root {
	font-family: "Geist", "Open Sans", sans-serif;
}

body {
	font-family: "Geist", "Open Sans", sans-serif;
	letter-spacing: 0.04em;
	overflow-x: hidden;
}

.scroll-row {
	scrollbar-width: none;
}

.scroll-row::-webkit-scrollbar {
	display: none;
}

